{% extends 'landi1/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" onclick="return confirm('정말 삭제하시겠습니까?')" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-default" onclick="return confirm('정말 뜯어갈테냐?')" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-scissors"></span></a>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock%}